body, h1, h2, h3 {
    color: #000000;
    background: #ffffff;
}

body {
    font: 12pt;
}

header, #patient_admin, .push, #main_footer, #head_info #info {
    display: none;
}

#head_cmc {
    display: block;
}

#content {
    width: 100%;
    margin:0;
}

#sheet {
    width: 100%;
    float: none;

    line-height: 1;

    border: none;
    border-bottom: none;
    margin: 0;
    padding:0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -khtml-border-radius: 0px;

    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.hide-in-print {
    display: none;
}

.show-only-in-print {
    display: block;
}

#sheet .section {
    padding: 0px;
}
