body, h1, h2, h3 {
    color: #000000;
    background: #ffffff;
}

body {
    font: 12pt;
}

header, #patient_admin, .push, #main_footer, #head_info #info {
    display: none;
}

#head_cmc {
    display: block;
}

#content {
    width: 100%;
}

* {
    border: 0;
    shadow: 0;
}
