/*  HTML5 ✰ Boilerplate  */
* {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Trebuchet, Verdana, Arial;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre,
code, dfn, em, img, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, thead, tr, th, td,
canvas, footer, header, hgroup, menu, section, summary, time, audio, video {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

#site-title {  
    float: left;
    padding-right: 0.5em;
    font-size: 30px;
    color: #666666;
}

a {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}

input, select {
  vertical-align: middle;
}

body {
    height: 100%;
    font: 13px/1.231 sans-serif;
/*  *font-size: small;*/
}

select, input, textarea, button {
  font: 99% sans-serif;
}

pre, code, kbd, samp {
    font-family: monospace, sans-serif;
}

body, select, input, textarea {
  color: #444;
}

.search {
  float: left;
  padding-left: 0px;
  position: relative;
  margin-top: 0.5em;
}

.search input {
  padding: 5px 5px;
  font-size: 14px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  border: none;
}

.search input[type="text"] {
  border: 1px solid #b7b7b7;
  
  background: white url('/static/img/search.png?1299763894') 4px center no-repeat;
  padding-left: 20px;
  padding-right: 40px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  width: 12em;
  height: 25px;
}

.search input[type="submit"] {
  border: 1px solid #b7b7b7;
  border-left: 0;
  
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  -o-border-top-right-radius: 3px;
  -ms-border-top-right-radius: 3px;
  -khtml-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -o-border-bottom-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  -khtml-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
//  padding: 0 12px;
  background: #e6e6e6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e6e6), color-stop(100%, #d6d6d6));
  background-image: -webkit-linear-gradient(#e6e6e6, #d6d6d6);
  background-image: -moz-linear-gradient(#e6e6e6, #d6d6d6);
  background-image: -o-linear-gradient(#e6e6e6, #d6d6d6);
  background-image: -ms-linear-gradient(#e6e6e6, #d6d6d6);
  background-image: linear-gradient(#e6e6e6, #d6d6d6);
  font-weight: bold;
  color: #666;
  width: 40px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.search input[type="submit"]:hover {
  background: #d6d6d6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d6d6d6), color-stop(100%, #c6c6c6));
  background-image: -webkit-linear-gradient(#d6d6d6, #c6c6c6);
  background-image: -moz-linear-gradient(#d6d6d6, #c6c6c6);
  background-image: -o-linear-gradient(#d6d6d6, #c6c6c6);
  background-image: -ms-linear-gradient(#d6d6d6, #c6c6c6);
  background-image: linear-gradient(#d6d6d6, #c6c6c6);
}

h1, h2, h3, h4, h5, h6 {
//  font-weight: bold;
}

h1 {
  font-size: 175%;
  color: #df5e0e;
//  color: #777777;
}

h2 {
  font-size: 150%;
//  color: #816894;
  color: #888888;
  margin: 1em 0 0;
  margin-top: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
}

a:hover, a:active {
  outline: none;
}

a, a:active, a:visited {
  color: #607890;
}

a:hover {
  color: #036;
}

ul, ol {
  margin-left: 1.8em;
}

ol {
  list-style-type: decimal;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

textarea {
  overflow: auto;
}

.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

input[type="radio"] {
  vertical-align: baseline;
}

input[type="checkbox"] {
  vertical-align: baseline;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

button {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.invisible {
  visibility: hidden;
}

/* Background textures by Rüdiger Appel from http://www.3quarks.com/en/BackgroundPattern/ */
body {
  background: url('/static/img/canvas.jpg?881083570');
}

/* Header area */
header {
  *zoom: 1;
  padding: 10px 20px;
  background: url('/static/img/paper.jpg?884184256');
  border-bottom: 1px solid #afafaf;
  -moz-box-shadow: -5px 1px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -5px 1px 5px rgba(0, 0, 0, 0.4);
  -o-box-shadow: -5px 1px 5px rgba(0, 0, 0, 0.4);
  box-shadow: -5px 1px 5px rgba(0, 0, 0, 0.4);
}

header:after {
  content: "";
  display: table;
  clear: both;
}

header #sections li {
  float: left;
  list-style-image: none;
  list-style-type: none;
  border: 1px solid black;
  margin: 0.25em;
  padding: 0.5em;
}

.control {
    float: left;
    -moz-transition-property: background-color;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;

    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 15px 20px;
    margin: 20px 20px;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;

    border-radius: 4px;
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.6) inset;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.6) inset;
    -o-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.6) inset;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.6) inset;
}

.control_label {
    width: 8.1em;
    height: 40px;

//    margin-top: 0.5em;
    text-align: center;
//    padding-left: 8px;
//    padding-right: 21px;
    position: relative;

    color: #666;
    font-weight: bold;
    font-size: 14px;

    -moz-border-radius:    3px;
    -webkit-border-radius: 3px;
    -o-border-radius:      3px;
    -ms-border-radius:     3px;
    -khtml-border-radius:  3px;
    border-radius:         3px;
    border: 1px solid #b7b7b7;

    background: #e6e6e6;
}

.control_label:hover {
    color:#333333;
    background: #d6d6d6;
}

#container {
//    clear: both;
//    height: 90%;
//    width: 100%;

    margin-bottom: 5px;
    padding-bottom: 6px;
}

#container #main_footer {
//  height: 40px;
}

footer {
    clear: both;
    position: relative;
    height: 40px;
    text-align: center;
    
    font-size: 90%;
    color: #888888;

    background: url('/static/img/paper.jpg?884184256');
    -moz-box-shadow: -5px -1px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: -5px -1px 5px rgba(0, 0, 0, 0.4);
    -o-box-shadow: -5px -1px 5px rgba(0, 0, 0, 0.4);
    box-shadow: -5px -1px 5px rgba(0, 0, 0, 0.4);
}

footer p {
  padding: 2px;
  margin-bottom: 3px;
}

.bp footer p {
  border-top: 1px solid #afafaf;
  padding: 10px 20px;
}

#content {
    float: right;
    width: 70%;
    margin-top: 20px;
//    height: 90%;
}

#sheet {
    *zoom: 1;
    background: white;
    min-height: 50%;

    margin-bottom: 2em;
    padding: 1em 0;

    font-size: 13px;
    line-height: 150%;

    border: 1px solid #afafaf;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;

    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.1) inset;
/* Form elements */
}

/*
#sheet #post-meta {
  color: #816894;
}
*/

#sheet .section {
    *zoom: 1;
  padding: 0 2em;
  vertical-align: top;
//  border-top: 1px solid #e8e8e8;
}

// #sheet .section:after {
//   content: "";
//   display: table;
//   clear: both;
// }
// 
// #sheet .section.first {
//   border-top: 0;
// }
// 
// #sheet .section.columns {
//   padding-left: 2em;
//   padding-right: 0;
// }

#sheet p.post-date {
  margin-top: 0.5em;
  font-size: 80%;
  color: #666;
}

#sheet {
  max-width: 90%;
  line-height: 1.5;
  padding-right: 1em;
}

#sheet form div.field {
//  margin: 0.5em 0;
}

#sheet div.field {
  *zoom: 1;
  margin-top: 1em;
  margin-bottom: 1em;
}

#sheet div.field:after {
  content: "";
  display: table;
//  clear: both;
}

#sheet div.field .checkbox label {
  padding-left: 0.5em;
}

#sheet .field.small {
    max-width: 310px;
    margin: 0;
    padding: 0;
    float: left;
}

#sheet .field.small label {
  font-weight: bold;
  font-size: 110%;
  float: left;
  width: 310px;
}

#sheet div.field.small div.ctrl {
    position: relative;
}

#sheet div.field.small div.ctrl ul {
  -moz-column-count: 2;
  list-style: none;
  margin: 0;
}
#sheet div.field.small div.ctrl ul li {
  padding: 0.5em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
#sheet div.field.small div.ctrl ul li label {
  padding-left: 0.5em;
}
#sheet div.field.small div.ctrl ul li.selected {
  background-color: #f0a40c;
}

#sheet div.error {
  position: relative;
  background-color: #df5e0e;
  color: #fff;
  margin: 1em 0;
  padding: 0.5em 1em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
#sheet div.error:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -19px;
  left: 6em;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #df5e0e;
}

#sheet span.description {
  font-size: 90%;
  color: #666;
}

#sheet form {
  margin-bottom: 0em;
}
#sheet input, #sheet textarea {
  font-family: ff-meta-web-pro-1, ff-meta-web-pro-2, MetaPlus, arial, sans-serif;
}
#sheet fieldset {
  *zoom: 1;
  margin-top: 1em;
  margin-bottom: 1em;
}
#sheet fieldset:after {
  content: "";
  display: table;
//  clear: both;
}
#sheet textarea {
  width: 90%;
  height: 10em;
}
#sheet textarea, #sheet input[type="text"], #sheet input[type="password"], #sheet input[type="email"], #sheet input[type="url"], #sheet select {
  padding: 5px;
  color: #444;
  border: 1px solid #b7b7b7;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
#sheet textarea, #sheet input[type="text"], #sheet input[type="password"], #sheet input[type="email"], #sheet input[type="url"] {
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
#sheet input[type="text"], #sheet input[type="email"], #sheet input[type="password"], #sheet input[type="url"] {
  width: 250px;
  height: 20px;
  margin-bottom: 5px;
  background: #fff;
  positive: relative;
}

#sheet input[class="age"] {
  width: 25px;
  position: relative;
}

#sheet input[type="submit"], #guide input[type="submit"] {
    position: relative;
  height: 27px;
  border: 1px solid #b7b7b7;
  font-family: ff-meta-web-pro-1, ff-meta-web-pro-2, MetaPlus, arial, sans-serif;
  font-size: 14px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  margin-top: 5px;
  padding: 0 12px;
  background: #e6e6e6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e6e6), color-stop(100%, #d6d6d6));
  background-image: -webkit-linear-gradient(#e6e6e6, #d6d6d6);
  background-image: -moz-linear-gradient(#e6e6e6, #d6d6d6);
  background-image: -o-linear-gradient(#e6e6e6, #d6d6d6);
  background-image: -ms-linear-gradient(#e6e6e6, #d6d6d6);
  background-image: linear-gradient(#e6e6e6, #d6d6d6);
  font-weight: bold;
  color: #444;
  vertical-align: text-bottom;
}

#sheet input[type="submit"]:hover, #guide input[type="submit"]:hover {
  background: #d6d6d6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d6d6d6), color-stop(100%, #c6c6c6));
  background-image: -webkit-linear-gradient(#d6d6d6, #c6c6c6);
  background-image: -moz-linear-gradient(#d6d6d6, #c6c6c6);
  background-image: -o-linear-gradient(#d6d6d6, #c6c6c6);
  background-image: -ms-linear-gradient(#d6d6d6, #c6c6c6);
  background-image: linear-gradient(#d6d6d6, #c6c6c6);
}

li { 
    margin-top: 0.9em; 
}

p { 
    margin-top: 0.9em;
//    margin-bottom: 0.9em; 
}
