/*  HTML5 ✰ Boilerplate  */
* {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Trebuchet, Verdana, Arial;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre,
code, dfn, em, img, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, thead, tr, th, td,
canvas, footer, header, hgroup, menu, section, summary, time, audio, video {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

#site-title {  
    text-align: center;
    padding-right: 0.5em;
    font-size: 30px;
    color: #666666;
}

#site-title:hover {
    color: blue;
    cursor: pointer;
}

a {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}

input, select {
  vertical-align: middle;
}

body {
    height: 100%;
    font: 13px/1.231 sans-serif;
    display: inline-block;
}

select, input, textarea, button {
  font: 99% sans-serif;
}

pre, code, kbd, samp, .mono {
    font-family: monospace, courier;
}

body, select, input, textarea {
  color: #444;
}

.search {
  float: left;
  padding-left: 0px;
  position: relative;
  margin-top: 0.5em;
}

.search input {
  padding: 5px 5px;
  font-size: 14px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  border: none;
}

.search input[type="text"], .search select {
  border: 1px solid #b7b7b7;
  
  background: white url('/static/img/search.png?1299763894') 4px center no-repeat;
  padding-left: 20px;
  padding-right: 40px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  width: 12em;
  height: 25px;
}

.search select {
    font-size: 14px;
    background: white;
    width: 16.5em;
    height: 35px;
    color: #666;
}

.search input[type="submit"] {
  border: 1px solid #b7b7b7;
  border-left: 0;
  
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  -o-border-top-right-radius: 3px;
  -ms-border-top-right-radius: 3px;
  -khtml-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -o-border-bottom-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  -khtml-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0 12px;
  background: #e6e6e6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e6e6), color-stop(100%, #d6d6d6));
  background-image: -webkit-linear-gradient(#e6e6e6, #d6d6d6);
  background-image: -moz-linear-gradient(#e6e6e6, #d6d6d6);
  background-image: -o-linear-gradient(#e6e6e6, #d6d6d6);
  background-image: -ms-linear-gradient(#e6e6e6, #d6d6d6);
  background-image: linear-gradient(#e6e6e6, #d6d6d6);
  font-weight: bold;
  color: #666;
  width: 40px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.search input[type="submit"]:hover {
  background: #d6d6d6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d6d6d6), color-stop(100%, #c6c6c6));
  background-image: -webkit-linear-gradient(#d6d6d6, #c6c6c6);
  background-image: -moz-linear-gradient(#d6d6d6, #c6c6c6);
  background-image: -o-linear-gradient(#d6d6d6, #c6c6c6);
  background-image: -ms-linear-gradient(#d6d6d6, #c6c6c6);
  background-image: linear-gradient(#d6d6d6, #c6c6c6);
}

h1 {
  font-size: 175%;
  color: #df5e0e;
  display: inline;
}

h2 {
  font-size: 150%;
/*  color: #816894; */
  color: #888888;
  margin: 1em 0 0;
  margin-top: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
}

a:hover, a:active {
  outline: none;
}

a, a:active, a:visited {
  color: #607890;
}

a:hover {
  color: #036;
}

ul, ol {
  margin-left: 1.8em;
}

ol {
  list-style-type: decimal;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

pre {
  padding: 15px;
  word-wrap: break-word;
}

pre.log {
    padding: 0px;
    font-size: 80%;
}

.log {
    max-width: 830px;
}

textarea {
  overflow: auto;
}

.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

input[type="radio"] {
  vertical-align: baseline;
}

input[type="checkbox"] {
  vertical-align: baseline;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

input[type=button], input[type=submit], button {
  cursor: pointer;
}

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

button {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.invisible {
  visibility: hidden;
}

/* Background textures by Rüdiger Appel from http://www.3quarks.com/en/BackgroundPattern/ */
body {
  background: url('/static/img/canvas.jpg?881083570');
}

/* Header area */
header {
  *zoom: 1;
  padding: 10px 20px;
  background: url('/static/img/paper.jpg?884184256');
  border-bottom: 1px solid #afafaf;
  -moz-box-shadow: -5px 1px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -5px 1px 5px rgsba(0, 0, 0, 0.4);
  -o-box-shadow: -5px 1px 5px rgba(0, 0, 0, 0.4);
  box-shadow: -5px 1px 5px rgba(0, 0, 0, 0.4);
}

header:after {
  content: "";
  display: table;
  clear: both;
}

header #sections li {
  float: left;
  list-style-image: none;
  list-style-type: none;
  border: 1px solid black;
  margin: 0.25em;
  padding: 0.5em;
}

.panel {
    padding-top: 10px;
    float: left;
    position: relative
    *zoom: 1;
    vertical-align: top;
}

.panel.first {
    padding-top: 0px;
}

.control {
    display: table-cell;
    -moz-transition-property: background-color;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;

    position: relative;

    vertical-align: top;
    padding: 15px 20px;
    margin: 20px 20px;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;

    border-radius: 4px;
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.6) inset;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.6) inset;
    -o-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.6) inset;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.6) inset;
}

.control_label {
    width: 8.1em;
    height: 40px;

//    margin-top: 0.5em;
    text-align: center;
//    padding-left: 8px;
//    padding-right: 21px;
    position: relative;

    color: #666;
    font-weight: bold;
    font-size: 14px;

    -moz-border-radius:    3px;
    -webkit-border-radius: 3px;
    -o-border-radius:      3px;
    -ms-border-radius:     3px;
    -khtml-border-radius:  3px;
    border-radius:         3px;
    border: 1px solid #b7b7b7;

    background: #e6e6e6;
}

.control_label:hover {
    color:#333333;
    background: #d6d6d6;
}

#container {
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
}

#container #main_footer {
}

footer {
    clear: both;
    position: relative;
    height: 40px;
    text-align: center;
    
    font-size: 90%;
    color: #888888;

    background: url('/static/img/paper.jpg?884184256');
    -moz-box-shadow: -5px -1px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: -5px -1px 5px rgba(0, 0, 0, 0.4);
    -o-box-shadow: -5px -1px 5px rgba(0, 0, 0, 0.4);
    box-shadow: -5px -1px 5px rgba(0, 0, 0, 0.4);
}

footer p {
  padding: 2px;
  margin-bottom: 3px;
}

.bp footer p {
  border-top: 1px solid #afafaf;
  padding: 10px 20px;
}

#content {
    display:table;
    height: 100%;
    margin: 0px;
    border-spacing: 20px;
}

#sheet {
    border-spacing: 0px;
    display: table-cell;
    width: 100%;

    *zoom: 1;
    background: white;

    font-size: 13px;

    border: 1px solid #afafaf;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;

    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.1) inset;
/* Form elements */
}

#sheet .section {
    *zoom: 1;
    padding: 15px 2em;
    padding-bottom: 2em;
    vertical-align: top;
}

#sheet p.post-date {
  margin-top: 0.5em;
  font-size: 80%;
  color: #666;
}

#sheet form div.field {
/*  margin: 0.5em 0; */
}

#sheet div.field {
  *zoom: 1;
  margin-top: 1em;
  margin-bottom: 1em;
}

#sheet div.field:after {
  content: "";
  display: table;
}

#sheet .field.small {
    max-width: 310px;
    margin: 0;
    padding: 0;
    float: left;
    padding-top: 5px;
}

#sheet div.ctrl ul {
  -moz-column-count: 2;
  list-style: none;
  margin: 0;
}

#sheet div.ctrl ul li {
  padding: 0.5em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
#sheet .checkbox div.ctrl ul li label {
  padding-left: 0.5em;
}
#sheet div.ctrl ul li.selected {
  background-color: #f0a40c;
}

#sheet div.error {
  position: relative;
  background-color: #df5e0e;
  color: #fff;
  margin: 1em 0;
  padding: 0.5em 1em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
#sheet div.error:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -19px;
  left: 6em;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #df5e0e;
}

#sheet span.description {
  font-size: 90%;
  color: #666;
}

#sheet form {
  margin-bottom: 0em;
}
#sheet input, #sheet textarea {
  font-family: ff-meta-web-pro-1, ff-meta-web-pro-2, MetaPlus, arial, sans-serif;
}
#sheet fieldset {
  *zoom: 1;
  margin-top: 1em;
  margin-bottom: 1em;
}
#sheet fieldset:after {
  content: "";
  display: table;
}

#sheet textarea, #sheet input[type="text"], #sheet input[type="password"], #sheet input[type="email"], #sheet input[type="url"], #sheet select {
  padding: 5px;
  color: #444;
  height: 35px;
  border: 1px solid #b7b7b7;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

#newd_avail select, #newd_dept_list select {
    height: 20px;
    padding: 0px;
}

#sheet textarea {
    width: 93%;
    height: 6em;
}

#sheet textarea, #sheet input[type="text"], #sheet input[type="password"], #sheet input[type="email"], #sheet input[type="url"] {
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
#sheet input[type="text"], #sheet input[type="email"], #sheet input[type="password"], #sheet input[type="url"] {
  width: 250px;
  height: 20px;
  margin-bottom: 5px;
  background: #fff;
  positive: relative;
}

#sheet input[type="submit"], #guide input[type="submit"] {
    position: relative;
  height: 27px;
  border: 1px solid #b7b7b7;
  font-family: ff-meta-web-pro-1, ff-meta-web-pro-2, MetaPlus, arial, sans-serif;
  font-size: 14px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  margin-top: 5px;
  padding: 0 12px;
  background: #e6e6e6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e6e6), color-stop(100%, #d6d6d6));
  background-image: -webkit-linear-gradient(#e6e6e6, #d6d6d6);
  background-image: -moz-linear-gradient(#e6e6e6, #d6d6d6);
  background-image: -o-linear-gradient(#e6e6e6, #d6d6d6);
  background-image: -ms-linear-gradient(#e6e6e6, #d6d6d6);
  background-image: linear-gradient(#e6e6e6, #d6d6d6);
  font-weight: bold;
  color: #444;
  vertical-align: text-bottom;
}

#sheet input[type="submit"]:hover, #guide input[type="submit"]:hover {
  background: #d6d6d6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d6d6d6), color-stop(100%, #c6c6c6));
  background-image: -webkit-linear-gradient(#d6d6d6, #c6c6c6);
  background-image: -moz-linear-gradient(#d6d6d6, #c6c6c6);
  background-image: -o-linear-gradient(#d6d6d6, #c6c6c6);
  background-image: -ms-linear-gradient(#d6d6d6, #c6c6c6);
  background-image: linear-gradient(#d6d6d6, #c6c6c6);
}

li { 
    margin-top: 0.9em; 
}

p { 
    margin-top: 0.9em;
/*    margin-bottom: 0.9em; */
}

.reqd_field {
    color: red;
    font-size: 80%;
    vertical-align: super;
}

.col_parent, #new_patient_form, #newp_age_gender, #newp_phones, #newp_rel_name_rel {
    display: table;
    width: 100%;
    position: relative;
}

.col_child {
    display: table-column;
    float: left;
    height: 100%;
}

#newd_title {
    display: table-column;
    position: relative;
    float: left;
    width: 10%;
}

#newd_name {
    display: table-column;
    position: relative;
    float: right;
    width: 85%;
}

#col2 {
    float: right;
}

div.twocols h {
    display: block;
    text-align: center;
    color: #888888;
    font-size: 150%;
    font-weight: bold;
    width: 100%;
}

.twocols, .half {
    display: table-column;
    position: relative;
    float: left;
    width: 49%;
}

.threecols, .third, .tagcol {
    display: table-column;
    position: relative;
    float: left;
    width: 33%;
    height: 100%;
}

.twothird, .valcol {
    display: table-column;
    position: relative;
    float: left;
    width: 65%;
    height: 100%;
}

.tagcol {
    text-align: right;
    font-weight: bold;
    padding-top: 2.5px;
}

.valcol {
    text-align: left;
    padding: 2.5px;
}

#new_patient_form label, #new_doctor_form label {
    font-weight: bold;
    font-size: 110%;
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 2px;
}

#new_patient_form input[type="text"], #new_doctor_form input[type="text"] {
    width: 90%;
}

#sheet input[class="age"] {
  max-width: 25px;
  position: relative;
}

input[class="date"], #newv_date, .date-field {
  max-width: 70px;
}

#new_g {
    margin-top: 10px;
}

label {
    font-size: 120%;
}

#new_visit_form {
    text-align: left;
}

#newv_charge {
    text-align: right;
}

/*
 * Error Pages
 */

#main-40x {
  text-align: center;
}

#main-40x a, a.visited {
    text-decoration: none;
}

#stickie-40x {
    background-color: beige;
    float: none;
    display: inline-block;
    text-align: center;
    width: auto;
    margin-top: 2em;
    padding: 10px;
}

#i40x {
    font-size: 150px;
    font-weight: bold;
    letter-spacing: -0.2em;
    margin-left: -0.2em;
}

#i40x:after {
    display: block;
    color: #f0a40c;
    content: "︵";
    margin-top: -0.75em;
}

.i4 {
    color: #df5e0e;
    position: relative;
}

.i0 {
    color: #f0a40c;
    z-index: -1;
}

.i5 {
    color: #816894;
    position: relative;
}

#i40x-message {
    color: #816894;
    font-size: 125%;
}

/* 
 * For use with the Doctor and Patient View templates
 */

#head_info, #contact_info, #prior_history {
    *zoom: 1;
    display: inline-block;
    min-height: 100%;
    width: 100%;
}

#head_info #head {
    width: 50%;
    float: left;
}

#head_info #info {
    width: 50%;
    float: right;
    vertical-align: bottom;
}

#head_cmc {
    float: center;
    text-align: center;
}

#head_cmc hr {
    margin: auto;
}

#head_cmc .name1 {
    font-size: 110%;
    font-weight: bold;
}

#head_cmc .name2 {
    font-size: 110%;
}

#head_cmc .addr {
    font-size: 80%;
}

#contact_info, #prior_history, #visit_history, visit_head {
    display: table;
    width: 100%;
    height: 100%;
}

#address, #relative, .threecol {
    display: table-column;
    position: relative;
    float: left;
    width: 33%;
    height: 100%;
}

.fullcol {
    width: 100%;
}

#personal_details {
    float: left;
}

#relative {
    float: right;
}

tag {
    font-weight: bold;
    font-size: 110%;
}

#allergy_history {
    display: table-column;
    float: left;
    position: relative;
    width: 33%;
}

#past_diagnosis {
    display: table-column;
    float: right;
    position: relative;
    width: 67%;
}

.pat_label {
    display: inline-block;
    float: right;
    width: 60px;
    height: 25px;
    position: relative;
    font-size: 12px;
    text-align: center;
    vertical-align: center;
    color: #666;
    background: #e6e6e6;

    margin-left: 2px;
    margin-right: 2px;

    padding-top: 5px;

   -moz-border-radius:    3px;
    -webkit-border-radius: 3px;
    -o-border-radius:      3px;
    -ms-border-radius:     3px;
    -khtml-border-radius:  3px;
    border-radius:         3px;
    border: 1px solid #b7b7b7;

    font-weight: bold;
}

.pat_label:hover {
    background: #d6d6d6;
    cursor: pointer;
    color: blue;
}

#sheet li {
    margin-top: 0;
}

#doc_avail_table {
    font-size: 90%;
}

/*
 * department.html related CSS 
 */

.dept_inp_row.header {
    font-weight: bold;
    font-size: 110%;
}

.dept_inp_row {
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.dept_inp_id, .dept_inp_name {
    display: table-cell;
    float: left;
    position: relative;
    padding: 5px;
    height: 100%;
    vertical-align: middle;
}

#dept_inp_edit {
    text-align: center;
}

#dept_inp_edit a:hover {
    cursor: pointer;
    color: blue;
}

.show-only-in-print {
    display: none;
}

.vs_table_header {
    width: 100%;
    text-align: center;
    color: blue;
    font-size: 125%;
}

#vs_doc_table_length label select, #vs_dept_table_length label select {
    height: 20px;
    padding: 0px;
}

.navElem {
    padding-right: 20px;
    position: center;
    text-decoration: none;
    margin-top: 0.5em; 
    vertical-align: baseline;
    background: transparent;
    color: #888888;
    display: inline;
}

.navElem:hover {
    color: blue;
    cursor: pointer;
    cursor: hand;
}

.nav {
    font-size: 105%;
    line-height: 1.5;

    border-top: 2px solid;
    border-bottom: 2px solid;
    background-color: #fcfce1;
    border-color: #fc0;
    border-top-color: #fc0;
    border-bottom-color: #fc0;

    padding: 10px 20px;
    margin: 20px 0px;
}

/*
 * Generic stuff
 */

.bl {
    display: block;
}

.relative {
    float: right;
    position: relative;
}

.rt {
    float: right;
}

.taCenter {
    text-align: center;
}

.rl {
    float: relative;
}

.red {
    color: red;
}

.smaller {
    font-size: 80%;
}

.mla {
    margin-left: auto;
}

.mra {
    margin-right: auto;
}

.maxWidth {
    width: 100%;
}

@-webkit-keyframes blink {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

blink {
  -webkit-animation-name: blink;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s; 
}
