{% extends 'base.html' %}

{% block styles %}
<link href="/static/css/dataTables/demo_table.css" rel="stylesheet"
      type="text/css"/>
<link href="/static/css/srp.css"        rel="stylesheet" type="text/css" />
{% end block %}

{% block content %}

<h1 class="doctors">Search Results Summary: Doctors</h1>
You searched for: {{ search_query }}.
<hr/>

<table id="doc_srp_table" class="display" name="doc_srp_table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Active</th>
      <th>Title</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Department</th>
      </tr>
  </thead>

  <tbody>
    {% for res in search_results %}
    <tr>
      <td> {{ res.id }}    </td>
      <td> {{ "Yes" if res.active else "No" }} </td>
      <td> {{ res.title }} </td>
      <td> {{ res.name }}  </td>
      <td> {{ res.email }} </td>
      <td> {{ res.phone }} </td>
      <td>
	{% if len(res.depts) > 0 %}
	  {{ res.depts[0].name }}
        {% end %}
      </td>
    </tr>
    {% end %}
  </tbody>
</table>

{% end block %}
