{% extends 'doctor_base.html' %}

{% block morescripts %}
<script>
$(function() {
    // We are essentially using a "new doctor details" form and prepopulate
    // it with existing details, so the user can just modify specific
    // details. The rest will not be updated.
    var url = window.location.pathname;
    var doc_url = url.replace('/edit/', '/ajax/');
    console.log("Fetching ajax results from URL: " + doc_url);
    $.getJSON(doc_url, function(data) {
        console.log("Ajax call returned: " + data.active);
	$("#new_title").val(data.title);
	$("#new_active").attr('checked', data.active);
	$("#new_name").val(data.name);
	$("#new_quals").val(data.quals);
	$("#new_ph").val(data.phone);
	$("#new_em").val(data.email);
	$("#new_rfee_n").val(data.fee_newp);
	$("#new_rfee_o").val(data.fee_oldp);
        var d  = new Date(Date.parse(data.regdate));
        var da = d.getDate() + '-' + (d.getMonth()+1) + '-' + d.getFullYear();
	$("#new_rdate").val(da);
	$("#new_addr").val(data.address);

       // Now set the department name from the database.
       for (var i=0; i < data.depts.length; i+=1) {
           $("#newd_dept_0" + (i+1)).val(data.depts[i]);
       }

        // Now set the availability slots from the database.

        var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
                   'Friday', 'Saturday'];
        var shiftns = ['Morning', 'Afternoon'];

        for (day in data.avail) {
          for (shift in data.avail[day]) {
              var val = data.avail[day][shift];
              res = val.match(/(\d\d:\d\d)-(\d\d:\d\d)/);
              var tagf = "#newd_" + day + "_" + shift + "_from";
              var tagt = "#newd_" + day + "_" + shift + "_to";
              try {
                  $(tagf).val(res[1]);
                  $(tagt).val(res[2]);
              } catch (e) {
                  console.log('Exception trying to set the doctor timings: ' + e);
              }
          }
        }
    });
});
</script>
{% end block %}

{% block formheader %}
Doctor Details Edit Form:
{% end block %}

{% block moreforms %}
{% end block %}

{% block action %}
<p/>
<input type="submit" id="editd_submit" value="Save Modifications &rarr;"/>
{% end block %}
