{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" 
      href="/static/css/pepper-grinder/jquery-ui-1.8.21.custom.css">
<link href={{ auto_ver("/static/css/dataTables/demo_table.css") }} 
      rel="stylesheet" type="text/css"/>
{% end block %}

{% block scripts %}

{% block morescripts %}
{% end block %}

<script src="/static/js/libs/goog/base.js">
</script>
<script>
  goog.require('goog.dom');
  goog.require('goog.json');
  goog.require('goog.proto2.ObjectSerializer');
  goog.require('goog.string.StringBuffer');
</script>

<script src="/static/js/libs/phonemetadata.pb.js"></script>
<script src="/static/js/libs/phonenumber.pb.js"></script>
<script src="/static/js/libs/metadata.js"></script>
<script src="/static/js/libs/phonenumberutil.js"></script>

{% end block %}

{% block content %}

<form id="new_doctor_form" class="col_parent" method="POST">
  <h1 class="bl">
    {% block formheader %}
    {% end block %}
  </h1>
  <div class="rl rt">
    <strong> Active:</strong> 
    <input type="checkbox" id="new_active"  name="new_active" 
	   value="active" checked="checked" />
  </div>

  <div id="col1" class="twocols">
    <div id="newd_title_name" class="ctrl col_parent">
      <div id="newd_title">
	<label>Title<span class="reqd_field">*</span></label>
	<input type="text" class="age" id="new_title" name="new_title"
	       value="Dr."/>
      </div>
 
      <div id="newd_name">
	<label>Full Name<span class="reqd_field">*</span></label>
	<input type="text" id="new_name" name="new_name"/>
      </div>
    </div> <!-- .ctrl.col_parent-->

    <div class="ctrl">
      <label>Qualifications</label>
      <input type="text" id="new_quals" name="new_quals"/>
    </div>

    <div id="newd_regd_fee" class="col_parent">
      <div class="third">
	<label>Fee (New Visit)</label>
	<input class="date" type="text" id="new_rfee_n" name="new_rfee_n"
	       data-allowed-chars="0123456789"/>
      </div>
      <div class="third">
	<label>Fee (Revisit)</label>
	<input class="date" type="text" id="new_rfee_o" name="new_rfee_o"
	       data-allowed-chars="0123456789"/>
      </div>
      <div class="third">
	<label>Regn. Date </label>
	<input class="date date-field" type="text" id="new_rdate" 
	       name="new_rdate"/>
      </div>
    </div> <!-- #newd_regd_fee -->
  </div> <!-- #col1 -->

  <div id="col2" class="twocols">
    <div id="newd_contact" class="col_parent">
      <div class="twocols">
	<label>Phone Number<span class="reqd_field">*</span></label>
	<input type="text" id="new_ph" name="new_ph"/>
      </div>
      <div class="twocols">
	<label>Email</label>
	<input type="text" id="new_em" name="new_em"/>
      </div>
    </div>

    <div id="newd_addr">
      <label>Postal Address</label>
      <textarea id="new_addr" name="new_addr">
      </textarea>
    </div>  <!-- #newd_addr -->
  </div> <!-- #col2 -->

  <div class="col_parent">
    <h2>Departments</h2> (Select at least one)
    <div id="newd_dept_list">
      <select class="deptsel" id="newd_dept_01" name="newd_dept_01">
	{% for dname in depts %}
	<option> {{ dname }}</option>
	{% end %}
      </select>

      <select class="deptsel"  id="newd_dept_02" name="newd_dept_02">
	{% for dname in depts %}
	<option> {{ dname }}</option>
	{% end %}
      </select>
    </div>
  </div>

    {% block deptblock %}
    {% end block %}
  <p/>

  <h2> Availability </h2>
    <table id="newd_avail" class="display" name="newd_avail">
      <thead>
	<th> Day             </th>
	<th> Morning From    </th>
	<th> Morning To	     </th>
	<th> Afternoon From  </th>
	<th> Afternoon To    </th>
      </thead>

      <tbody>
	{% for day in days %}
	  <tr>
	    <td> {{ day }} </td>

	    <td>
	      {% set tagid = 'newd_' + day + '_Morning_from' %}
	      <select id= {{ tagid }} name={{ tagid }}>
		{% for ophour in mophours[:-1] %}
	          <option value={{ ophour }}> {{ ophour }} </option>
		{% end %}
	      </select>
	    </td>

	    <td>
	      {% set tagid = 'newd_' + day + '_Morning_to' %}
	      <select id={{ tagid }} name={{ tagid }}>
		{% for ophour in [mophours[0]] + mophours[2:] %}
	          <option value={{ ophour }}> {{ ophour }} </option>
		{% end %}
	      </select>
	    </td>

	    <td>
	      {% set tagid = 'newd_' + day + '_Afternoon_from' %}
	      <select id={{ tagid }} name={{ tagid }}>
		{% for ophour in aophours[:-1] %}
	          <option value={{ ophour }}> {{ ophour }} </option>
		{% end %}
	      </select>
	    </td>

	    <td>
	      {% set tagid = 'newd_' + day + '_Afternoon_to' %}
	      <select id={{ tagid }} name={{ tagid }}>
		{% for ophour in [aophours[0]] + aophours[2:] %}
	          <option value={{ ophour }}> {{ ophour }} </option>
		{% end %}
	      </select>
	    </td>

	  </tr>
	{% end %}
      </tbody>
    </table>

    {% block action %}
    {% end block %}
</form>

{% end block %}
