{% extends 'base.html' %}

{% block content %}

    <!-- Input form for a new patient -->
    <form id="new_patient_form" method="POST">
      <h1>New Patient Details:</h1>
  
      <div class="field small">
	<div class="ctrl">
	    <label>Full Name<span class="reqd_field">*</span></label>
	  <input class="age" type="text" name="new_title"/>
	  <input type="text" id="new_name" name="new_name"/>
	</div> <!-- .ctrl -->
      </div> <!-- .field.small -->
  
      <div class="field small">
	<div class="ctrl">
	    <label>Age<span class="reqd_field">*</span></label>
	  <input class="age" type="text" id="new_age" name="new_age"/>
	</div> <!-- .ctrl -->
      </div> <!-- .field.small -->

      <div class="field small">
	<div class="ctrl">
	  <label>Gender</label>
 	  <input type="text" id="new_gender" name="new_gender"/>
	</div> <!-- .ctrl -->
      </div> <!-- .field.small -->

      <div class="field small">
	<div class="ctrl">
	  <label>Date of Registration<span class="reqd_field">*</span></label>
	  <input type="text" id="new_reg_date" name="new_reg_date"/>
	</div> <!-- .ctrl -->
      </div> <!-- .field.small -->
 
      <div class="field small">
	<div class="ctrl">
	  <label>Contact Number<span class="reqd_field">*</span></label>
	  <input type="text" id="new_phone" name="new_phone"/>
	</div> <!-- .ctrl -->
      </div> <!-- .field.small -->

      <div class="field small">
	<div class="ctrl">
	  <label>Contact Address</label>
 	  <input type="text" id="new_addr" name="new_addr"/>
	</div> <!-- .ctrl -->
      </div> <!-- .field.small -->
  
      <input type="submit" id="newp_submit" value="Add Patient Details &rarr;"/>
    </form> 

    <!--
    <table cellpadding="0" cellspacing="0" border="0" class="display"
      style="display:none" id="display_patients_table">
    </table>
    -->
    <div id="display_patients_table"></div>
</forms>

{% end block %}
