{% extends 'base.html' %}

{% block styles %}

<link href="/static/css/dataTables/demo_table.css" rel="stylesheet"
      type="text/css"/>
<link href="/static/css/srp.css" rel="stylesheet" type="text/css" />

{% end block %}

{% block content %}

<h1 class="patients">Search Results Summary: Patients</h1>
<p>You searched for: {{ search_query }}.
<hr/>

<table id="pat_srp_table" class="display" name="pat_srp_table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Name</th>
      <th>Age</th>      
      <th>Phone</th>
      </tr>
  </thead>

  <tbody>
    {% for res in search_results %}
    <tr>
      <td> {{ res.id }}    </td>
      <td> {{ res.title }} </td>
      <td> {{ res.name }}  </td>
      <td> {{ res.age }}  </td>
      <td> {{ res.phone }} </td>
    </tr>
    {% end %}
  </tbody>
</table>

{% end block %}
