{% extends 'base.html' %}

{% block styles %}
<link href="/static/css/patient.css" rel="stylesheet" type="text/css" />
<link href="/static/css/dataTables/demo_table.css" rel="stylesheet" 
      type="text/css"/>
<link href="/static/css/srp.css" rel="stylesheet" type="text/css" />

{% end block %}

{% block content %}

<div id="head_cmc">
  <span class="name1"> Major Gen. B. N. Bhandari Charitable Medical Clinic 
  </span> <br/>
  <span class="name2"> Servants of the People Society </span> <br/>
  <span class="addr"> Lajpat Bhawan, Lajpat Nagar IV, New Delhi </span> <br/>
  <span class="addr">Tel No.: 011 2643 4175 </span>
  <hr> <p/>
</div>

{% from models import Doctor %}
{% from models import Department %}

<div id="head_info">
  <div id="head">
    <h1> {{ rec.name }} </h1>
    {{ rec.gender }}, {{ rec.age }} Yrs.<br/>
 </div>

  <div id="info">
    <div id="print_pat_lab" class="pat_label">Print</div>
    <div id="edit_pat_lab" class="pat_label">Edit </div>
    <div id="visit_pat_lab" class="pat_label">New Visit</div>
  </div>
</div> <!-- #head_info -->

<br/>

<div id="contact_info">
  <div class="half">

    <div class="myrow col_parent">
      <div class="tagcol"> Regn Date : </div>
      <div class="valcol"> {{ rec.regdate.strftime("%Y/%m/%d") }} 
	<tag> ID : </tag> {{ rec.id }}
      </div>
    </div>

    <div class="myrow col_parent">
      <div class="tagcol"> Phone :</div>
      <div class="valcol"> {{ rec.phone }} </div>
    </div>

    <div class="myrow col_parent">
      <div class="tagcol"> Address : </div>
      <div class="valcol"> {{ rec.address }} </div>
    </div>
  </div> <!-- .half -->

  <div class="half">
    <div class="myrow col_parent">
      <div class="tagcol"> Contact : </div>
      <div class="valcol"> {{ rec.relative }} </div>
    </div>

    <div class="myrow col_parent">
      <div class="tagcol"> Relation :</div>
      <div class="valcol"> {{ rec.relative_relation }} </div>
    </div>

    <div class="myrow col_parent">
      <div class="tagcol"> Phone :</div> 
      <div class="valcol"> {{ rec.relative_phone }} </div>
    </div>
  </div>
</div> <!-- #contact_info -->

<p/>
<div id="visit_history">
  <div class="hide-in-print">
    <h2>CMC Visit History: </h2>
  </div>

  <table id="pat_visits_table" class="display" name="pat_visits_table">
    <thead>
      <tr>
	<th class='hide-in-print'>S. No.</th>
	<th>Date</th>
	<th>Department</th>
	<th>Consultant</th>
	<th>Charge</th>
      </tr>
    </thead>

    <tbody>
      {% set l = len(rec.consultations) %}
      {% for i, c in enumerate(rec.consultations) %}
        {% set dept= Department.find_by_id(session, c.dept_id) %}
        {% set doc= Doctor.find_by_id(session, c.doctor_id) %}

         <!-- Only the latest visit details will be printed out -->
         {% set cls = "hide-in-print" if i != l-1 else "" %}

         <tr class='{{ cls }}'>
	  <td class='hide-in-print'> {{ i }}    </td>
	  <td> {{ c.date }} </td>
	  <td> {{ dept.name }}  </td>
	  <td> {{ doc.title + " " + doc.name }} </td>
	  <td> {{ c.charge }} </td>
        </tr>
      {% end %}
    </tbody>
  </table> <!-- #pat_visits-table -->
</div>

<p/>
<div id="doc_availability" class="show-only-in-print">
<!--  The patient would like to have the data avaialble in the print out -->
  <table id="doc_avail_table" class="display">
    <thead>
      <th> Shift </th>
      {% for day in days %}
        <th> {{ day }} </th>
      {% end %}
   </thead>
  
    <tbody class="smaller">
      {% for shift in [x + ' Hours' for x in shiftns] %}
	<tr>
  	  <td> {{ shift }}  </td>
  	  {% for day in days %}
    	    <td> {{ avail[day][shift] }} </td>
  	  {% end %}
	</tr>
      {% end %}
    </tbody>
  </table>
</div>

<hr/>

{% end block %} <!-- block content -->
