{% extends 'base.html' %}

{% block styles %}
<link href="/static/css/patient.css" rel="stylesheet" type="text/css" />
<link href="/static/css/dataTables/demo_table.css" rel="stylesheet" 
      type="text/css"/>
<link href="/static/css/srp.css" rel="stylesheet" type="text/css" />

{% end block %}

{% block content %}

<div id="head_cmc" class="show-only-in-print">
  <span class="name1"> Major Gen. B. N. Bhandari Charitable Medical Clinic 
  </span> <br/>
  <span class="name2"> Servants of the People Society </span> <br/>
  <span class="addr"> Lajpat Bhawan, Lajpat Nagar IV, New Delhi </span> <br/>
  <span class="addr">Tel No.: 011 2643 4175 </span>
  <hr> <p/>
</div>

{% from models import Doctor %}
{% from models import Department %}

<div class="nav hide-in-print">
  <div id="info">
    <div id="print_pat_lab" class="navElem">Print</div>
    <div id="edit_pat_lab" class="navElem">Edit </div>
    <div id="visit_pat_lab" class="navElem">New Visit</div>
  </div>
</div>

<div id="head_info">
  <div id="head">
    <h1> {{ rec.name }} </h1>
    <span>
    {{ rec.gender }}, {{ rec.age }} Yrs.<br/>
    </span>
 </div>

 <div class="rt">
   <tag> Regn Date : </tag>
   {{ rec.regdate.strftime("%Y/%m/%d") }} 
     <tag> ID : </tag> {{ rec.id }}
 </div>
</div> <!-- #head_info -->

<div id="contact_info">
  <div class="half">
    <div class="myrow col_parent">
      <div class="tagcol"> Phone :</div>
      <div class="valcol"> {{ rec.phone }} </div>
    </div>

    <div class="myrow col_parent">
      <div class="tagcol"> Address : </div>
      <div class="valcol"> {{ rec.address }} </div>
    </div>

    <div class="myrow col_parent">
      <div class="tagcol"> Contact Person : </div>
      <div class="valcol"> {{ rec.relative }} ({{ rec.relative_relation }})</div>
    </div>

    <div class="myrow col_parent">
      <div class="tagcol"> Number :</div> 
      <div class="valcol"> {{ rec.relative_phone }} </div>
    </div>
  </div> <!-- .half -->

  <div class="half show-only-in-print">
    {% set dept = Department.find_by_id(session, lvisit.dept_id) %}
    <div class="myrow col_parent">
      <div class="tagcol"> Visit Date :</div> 
      <div class="valcol"> {{ lvisit.date }} </div>
    </div>

    <div class="myrow col_parent">
      <div class="tagcol"> Department :</div> 
      <div class="valcol"> {{ dept.name }} </div>
    </div>

    <div class="myrow col_parent">
      <div class="tagcol"> Doctor :</div> 
      <div class="valcol"> {{ ldoc.title + " " + ldoc.name }} </div>
    </div>

    <div class="myrow col_parent">
      <div class="tagcol"> Availability :</div> 
      <div class="valcol"> {{ ldoc.get_availability_pretty() }} </div>
    </div>
 </div>
</div> <!-- #contact_info -->

<p/>
<div id="visit_history">
  <div class="hide-in-print">
    <h2>CMC Visit History: </h2>
  </div>

  <table id="pat_visits_table" class="display hide-in-print" 
	 name="pat_visits_table">
    <thead>
      <tr>
	<th>Date</th>
	<th>Department</th>
	<th>Consultant</th>
	<th>Charge</th>
      </tr>
    </thead>

    <tbody>
      {% set l = len(rec.consultations) %}
      {% for i, c in enumerate(rec.consultations) %}
        {% set dept= Department.find_by_id(session, c.dept_id) %}
        {% set doc= Doctor.find_by_id(session, c.doctor_id) %}

         <!-- Only the latest visit details will be printed out -->
         {% set cls = "hide-in-print" if i != l-1 else "" %}

         <tr class='{{ cls }}'>
	   <td> {{ c.date }} </td>
	   <td> {{ dept.name }}  </td>
	   <td> {{ doc.title + " " + doc.name }} </td>
	   <td> {{ c.charge }} </td>
         </tr>
      {% end %}
    </tbody>
  </table> <!-- #pat_visits-table -->
</div>

<!-- The following code prints the availability table in a neat format. But
in the interest of space this is being commented out, and the table is printed
in a far more compressed format at the top itself. The following code results
in a far more usable systm, but oh well.
<p/>
<div id="doc_availability" class="show-only-in-print">
  <table id="doc_avail_table" class="display">
    <thead>
      <th> Shift </th>
      {% for day in days %}
        <th> {{ day }} </th>
      {% end %}
   </thead>
  
    <tbody class="smaller">
      {% for shift in shiftns %}
       <tr>
         <td> {{ shift }}  </td>
         {% for day in days %}
           <td> {{ avail[day][shift] }} </td>
         {% end %}
       </tr>
      {% end %}
    </tbody>
  </table>
</div>
-->
<hr/>

{% end block %} <!-- block content -->
