{% extends 'base.html' %}

{% block styles %}
<link href="/static/css/patient.css"        rel="stylesheet" type="text/css" />
{% end block %}

{% block content %}

<div id="head_cmc">
  <span class="name1"> Major Gen. B. N. Bhandari Charitable Medical Clinic 
  </span> <br/>
  <span class="name2"> Servants of the People Society </span> <br/>
  <span class="addr"> Lajpat Bhawan, Lajpat Nagar IV, New Delhi </span> <br/>
  <span class="addr">Tel No.: 011 2643 4175 </span>
  <hr> <p/>
</div>

<div id="head_info">
  <div id="head">
    <h1> {{ rec.name }} </h1>
    {{ rec.gender }}, {{ rec.age }} Yrs.<br/>
 </div>

  <div id="info">
    <div id="print_pat_lab" class="pat_label">Print</div>
    <div id="edit_pat_lab" class="pat_label">Edit </div>
    <div id="visit_pat_lab" class="pat_label">New Visit</div>
  </div>
</div>

<br/>

<div id="contact_info">
  <div class="half">

    <div class="myrow col_parent">
      <div class="tagcol"> Regn Date : </div>
      <div class="valcol"> {{ rec.regdate.strftime("%Y/%m/%d") }} 
	<tag> ID : </tag> {{ rec.id }}
      </div>
    </div>

    <div class="myrow col_parent">
      <div class="tagcol"> Phone :</div>
      <div class="valcol"> {{ rec.phone }} </div>
    </div>

    <div class="myrow col_parent">
      <div class="tagcol"> Address : </div>
      <div class="valcol"> {{ rec.address }} </div>
    </div>
  </div>

  <div class="half">
    <div class="myrow col_parent">
      <div class="tagcol"> Contact : </div>
      <div class="valcol"> {{ rec.relative }} </div>
    </div>

    <div class="myrow col_parent">
      <div class="tagcol"> Relation :</div>
      <div class="valcol"> {{ rec.relative_relation }} </div>
    </div>

    <div class="myrow col_parent">
      <div class="tagcol"> Phone :</div> 
      <div class="valcol"> {{ rec.relative_phone }} </div>
    </div>
  </div>
</div>

<p/>
<div id="visit_history">
  <div class="hide-in-print">
    <h2>CMC Visit History: </h2>
  </div>
  <div class="show-only-in-print">
    <h2>Visit Details: </h2>
  </div>

  {% set max = len(rec.consultations) - 1 %}

  {% for i, c in enumerate(rec.consultations) %}
    {% set print_class = "hide-in-print" if (i != max) else "show" %}
    <div class={{ print_class }}>
      <div class="col_parent">
        <div class="half">
	  <div class="myrow col_parent">
	    <div class="tagcol">Date : </div>
	    <div class="valcol">{{ c.date }} </div>
	  </div>
          <div class="myrow col_parent">
	    <div class="tagcol">Charge : </div>
	    <div class="valcol">Rs. {{ c.charge }} </div>
	    </div>
	</div>

        <div class="half">
	  <div class="myrow col_parent">
            {% set dq = d.filter_by(id=c.doctor_id) %}
            {% if dq.count() > 0 %}
  	    <div class="tagcol">Doctor : </div>
  	    <div class="valcol">
              {% set doc = dq.one() %} 
              {{ doc.name }} 
  	    </div>
      	    <br>
      	    <div class="tagcol"> Department : </div>
      	    <div class="valcol"> {{ doc.depts[0].name }} </div>
            {% end %}
	  </div>
        </div>
      </div>
      <br/>
<!--
      <div class='fullcol'><tag>Comments: </tag> {{ c.notes }} </div>
-->
    </div>
  {% end %}
</div>

<hr/>

{% end block %}
