{% extends 'base.html' %}

{% block styles %}

<link href="/static/css/srp.css" rel="stylesheet" type="text/css" />

{% end block %}

{% block content %}

<h1>Search Results Summary</h1>
<hr/>

<h3>You searched for: {{ search_query }}</h3>
<p/>
Total rows in database: {{ total_cnt }}
<br/>
Matches: {{ match_cnt }}

<hr/>

<table>
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>Phone</td>
  </tr>

  {% for res in search_results %}
  <tr>
    <td> {{ res.id }}    </td>
    <td> {{ res.name }}  </td>
    <td> {{ res.phone }} </td>
  </tr>
  {% end %}
</table>

{% end block %}
