{% extends 'stats_visits_base.html' %}

{% block vs_content %}

<h2>Visit Statistics <span class="blue"> by Doctor </span></h2>
<p/>

<strong class="blue">Note:</strong>

<p/>

<table id="vs_doc_table" class="display" name="vs_doc_table">
  <thead>
    <th> ID       </th>
    <th> Title    </th>
    <th> Doctor   </th>
    <th> Qualifications </th>
    <th> New Visits - Count  </th>
    <th> New Visits - Charge </th>
    <th> Revisits - Count    </th>
    <th> Revisits - Charge   </th>
    <th> Total Charge   </th>
  </thead>

  <tfoot>
    <th style="text-align:right" colspan="4"> Total: </th>
    <th style="text-align:right"> </th>
    <th style="text-align:right"> </th>
    <th style="text-align:right"> </th>
    <th style="text-align:right"> </th>
    <th style="text-align:right"> </th>
  </tfoot>

  <tbody>
    {% for key, docv in summary['doc'].iteritems() %}
    <tr>
      <td> {{ key }}                </td>
      <td> {{ docv['doc'].title  }} </td>
      <td> {{ docv['doc'].name   }} </td>
      <td> {{ docv['doc'].quals  }} </td>
      <td> {{ docv['patcnt_new'] }} </td>
      <td> {{ docv['fee_new']    }} </td>
      <td> {{ docv['patcnt_old'] }} </td>
      <td> {{ docv['fee_old']    }} </td>
      <td> {{ docv['fee_total']  }} </td>
    </tr>
    {% end %}
  </tbody>
</table>
{% end block %}
