{% extends 'base.html' %}

{% block styles %}
<link href={{ auto_ver("/static/css/dataTables/demo_table.css") }} 
      rel="stylesheet" type="text/css"/>
<link href={{ auto_ver("/static/css/srp.css") }} rel="stylesheet" 
      type="text/css" />
<link rel="stylesheet" 
      href="/static/css/pepper-grinder/jquery-ui-1.8.21.custom.css">
{% end block %}

{% block scripts %}
  <script src={{ auto_ver("/static/js/visit_stats.js") }}> </script>
{% end block %}

{% block content %}

<div class="nav hide-in-print">
  <div id="info">
    <a href="/stats/visits/doctor?vs_from={{ summary['from'] }}&vs_to={{ summary['to'] }}" id="vs_doc_opt" class="navElem">
      By Doctor</a>
    <a href="/stats/visits/department?vs_from={{ summary['from'] }}&vs_to={{ summary['to'] }}" id="vs_dept_opt" class="navElem">
      By Department</a>
    <div id="vs_print_opt" class="navElem printElem">Print</div>
  </div>
</div>

<form id="vs_form" method="GET">
 <label>From:</label>
  <input type="text" class="date date-field " id="vs_from" name="vs_from"
	 value={{ summary['from'] if summary else " " }} 
	 />

  <label>To:</label>
  <input type="text" class="date date-field " id="vs_to" name="vs_to"
	 value={{ summary['to'] if summary else " " }} 
	 />

  <input type="submit" value="Go" id="vs_submit" class="submit_but"/>
</form>

<hr/>

<strong>Note:</strong>
<ul>
<li>
  <b>New Visit</b> is when a particular patient comes to the doctor for the
  first time. Note that this patient could have consulted another doctor (even
  in the same department) earlier, and as such an old 'registration'.
</li>

<li>
  <b>Revisit</b> is when a particular patient comes to a doctor that he or
she has visited in the past.
</li>
</ul>

<hr/>

<h2 class="blue">Visit Statistics: Summary</h2>

{% if summary %}
<table id="vs_summary_table" class="display" name="vs_summary_table"
       style="width:70%">
  <thead>
    <th>  </th>
    <th> Full charge visits </th>
    <th> Waived charge visits </th>
    <th> Total </th>
  </thead>

  <tbody>
    <tr>
      <td> <strong>Patient Count</strong> </td>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>

    <tr>
      <td> New visits </td>
      <td> {{ summary['grandsu']['patcnt_new_paid'] }} </td>
      <td> {{ summary['grandsu']['patcnt_new_waived'] }} </td>
      <td> {{ summary['grandsu']['patcnt_new_total'] }} </td>
    </tr>

    <tr>
      <td> Revisits </td>
      <td> {{ summary['grandsu']['patcnt_revisit_paid'] }} </td>
      <td> {{ summary['grandsu']['patcnt_revisit_waived'] }} </td>
      <td> {{ summary['grandsu']['patcnt_revisit_total'] }} </td>
    </tr>

    <tr>
      <td> Total  </td>
      <td> {{ summary['grandsu']['patcnt_new_paid'] + summary['grandsu']['patcnt_revisit_paid'] }}</td>
      <td> {{ summary['grandsu']['patcnt_new_waived'] + summary['grandsu']['patcnt_revisit_waived'] }}</td>
      <td> {{ summary['grandsu']['patcnt_new_total'] + summary['grandsu']['patcnt_revisit_total'] }}</td>
    </tr>

    <tr>
      <td> <strong>Collected charges</strong> </td>
      <td> </td>
      <td> </td>
      <td> </td>
    </tr>

    <tr>
      <td> New visits </td>
      <td> {{ summary['grandsu']['charges_new_paid'] }} </td>
      <td> {{ summary['grandsu']['charges_new_waived'] }} </td>
      <td> {{ summary['grandsu']['charges_new_total'] }} </td>
    </tr>

    <tr>
      <td> Revisits </td>
      <td> {{ summary['grandsu']['charges_revisit_paid'] }} </td>
      <td> {{ summary['grandsu']['charges_revisit_waived'] }} </td>
      <td> {{ summary['grandsu']['charges_revisit_total'] }} </td>
    </tr>

    <tr>
      <td> Total  </td>
      <td> {{ summary['grandsu']['charges_new_paid'] + summary['grandsu']['charges_revisit_paid'] }} </td>
      <td> {{ summary['grandsu']['charges_new_waived'] + summary['grandsu']['charges_revisit_waived'] }} </td>
      <td> {{ summary['grandsu']['charges_new_total'] + summary['grandsu']['charges_revisit_total'] }} </td>
    </tr>

  </tbody>
</table>


<p>
<hr/>

  {% block vs_content %}
  {% end block %}

{% end %}

{% end block %}
