{% extends 'stats_visits_base.html' %}

{% block vs_content %}

<h2 class="blue">Visit Statistics by Department </h2>
<p/>

<strong class="blue">Note:</strong>

<p/>

<table id="vs_dept_table" class="display">
  <thead>
    <th> ID           </th>
    <th> Department   </th>
    <th> New Visits - Count </th>
    <th> New Visits - Charge </th>
    <th> Revisits - Count </th>
    <th> Revisits - Charge</th>
    <th> Total Charge </th>
  </thead>

  <tfoot>
    <th style="text-align:right" colspan="2"> Total: </th>
    <th style="text-align:right"> </th>
    <th style="text-align:right"> </th>
    <th style="text-align:right"> </th>
    <th style="text-align:right"> </th>
    <th style="text-align:right"> </th>
  </tfoot>

  <tbody>
    {% for key, depv in summary['dept'].iteritems() %}
    <tr>
      <td> {{ key                }} </td>
      <td> {{ depv['name']       }} </td>
      <td> {{ depv['patcnt_new'] }} </td>
      <td> {{ depv['fee_new']    }} </td>
      <td> {{ depv['patcnt_old'] }} </td>
      <td> {{ depv['fee_old']    }} </td>
      <td> {{ depv['fee_total']  }} </td>
    </tr>
    {% end %}
  </tbody>
</table>
{% end block %}
