{% extends 'base.html' %}

{% block styles %}
<link href={{ auto_ver("/static/css/dataTables/demo_table.css") }}
      rel="stylesheet" type="text/css"/>
<link href={{ auto_ver("/static/css/srp.css") }} rel="stylesheet" 
      type="text/css" />
<link rel="stylesheet" 
      href="/static/css/pepper-grinder/jquery-ui-1.8.21.custom.css">
{% end block %}

{% block scripts %}
<script src={{ auto_ver("/static/js/visit_new.js") }}> </script>
{% end block %}

{% block content %}
<h1>New Visit Form for: {{ patname }}</h1>
<p/>

<form id="new_visit_form" patid={{ patid }} method="POST">
  <input type="submit" id="newv_submit" class="submit_but"
         value="Save Visit Details &rarr;"/>
  <p/>

  <div id="new_visit_control" class="col_parent">
    <div class="threecols">
         <label>Department</label><br/>
         <select id="newv_dept_list" name="newv_dept_list">
           {% for dname in depts %}
             {% if dname == last_deptn %}
             <option selected="selected">
               {{ dname }} 
             </option>
             {% else %}
               <option> {{ dname }} </option>
             {% end %}
           {% end %}
         </select>
    </div>

    <div class="threecols">
      <label>Date</label><br/>
      <input type="text" class="date date-field" id="newv_date" 
	     name="newv_date" value={{ date }} />
    </div>

    <!-- <div class="threecols"> -->
    <!--   <label>Date</label><br/> -->
    <!--   <select id="newv_day_list" name="newv_day_list"> -->
    <!--        {% for day in days %} -->
    <!--        <option> {{ day }} </option> -->
    <!--        {% end %} -->
    <!--   </select> -->
    <!-- </div> -->
 
    <div class="threecols">
      <label> Charge: </label><br/>
      <input type="text" class="date" id="newv_charge" name="newv_charge"
             value="0" data-allowed-chars="0123456789"/>
   </div>

    <!-- the jquery table click handler will populate this input element with the
         docid that the user selects, and the server will get value through the
         POST request. Don't know of a cleaner way to do this... :) -->
    <input name="newv_docid_hack" id="newv_docid_hack" 
           style="display:none" type="text"/>
  </div> <!-- #new_visit_control -->

<br/>
<p/>
<div id="new_visit_doc_div">
<hr/>
<h2>Doctors Available for Consultation: (Click on One):</h2>
<table id="new_visit_doc_table" class="display">
  <thead>
    <tr>
      <th> ID             </th>
      <th> Doctor Name    </th>
      <th> Qualifications </th>
      <th> Morning        </th>
      <th> Afternoon      </th>
      <th> Fee (New Patient) </th>
      <th> Fee (Old Patient) </th>
      <th> Charge for this visit </th>
   </tr>
  </thead>
  <tbody>
  </tbody>    
</table>
</div>
<div id="new_visit_doc_warning" class="warning_box">
  <strong>Alert:</strong> No doctors in this department are available for the
  day you have selected. Please try other dates and/or other departments.
</div>

</form>

{% end block %}
