{% extends 'base.html' %}

{% block styles %}
<link href="/static/css/dataTables/demo_table.css" rel="stylesheet"
      type="text/css"/>
<link href="/static/css/srp.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" 
      href="/static/css/pepper-grinder/jquery-ui-1.8.21.custom.css">
{% end block %}

{% block scripts %}

{% end block %}

{% block content %}
<h1>Visit Statistics</h1>
<p/>
<div>
  <label>From:</label>
  <input type="text" class="date date-field " id="vs_from" name="vs_from"/>

  <label>To:</label>
  <input type="text" class="date date-field " id="vs_to" name="vs_to"/>

  <label>Dept.:</label>
  <select id="vs_dept_list" name="vs_dept_list">
      <option value="All"> All </option>
    {% for d in depts %}
      <option value={{ d }}> {{ d }} </option>
    {% end %}
  </select>

  <label>Doctor:</label>
  <select id="vs_doc_list">
  </select>

</div>

{% end block %}
