#srp_table {
    font-family: Arial;
    margin: 0;
    padding: 0;
    color: blue;
    background-color: #fff;
}


#srp_table #container {
	width: 800px;
	margin: 30px auto;
	padding: 0;
}


#srp_table #footer {
	margin: 50px auto 0 auto;
	padding: 0;
}

#srp_table #demo {
	margin: 30px auto 0 auto;
}

#srp_table .demo_jui {
	margin: 30px auto 0 auto;
}

#srp_table .big {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.6em;
	color: #4E6CA3;
}

#srp_table .spacer {
	height: 20px;
	clear: both;
}

#srp_table .clear {
	clear: both;
}

#srp_table pre {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

#srp_table h1 {
	margin-top: 2em;
	font-size: 1.3em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	border-bottom: 1px solid #B0BED9;
	clear: both;
}

#srp_table h2 {
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	clear: both;
}

#srp_table a {
	color: #0063DC;
	text-decoration: none;
}

#srp_table a:hover {
	text-decoration: underline;
}

#srp_table ul {
	color: #4E6CA3;
}

.css_right {
	float: right;
}

.css_left {
	float: left;
}

.demo_links {
	float: left;
	width: 50%;
	margin-bottom: 1em;
}

#demo_info {
	padding: 5px;
	border: 1px solid #B0BED9;
	height: 100px;
	width: 100%;
	overflow: auto;
}
